<%= form_tag "/lamps/#{@lamp.id}", method: :patch do %>
  <p>Material: <input type="text" name="material" value="<%= @lamp.material %>"></p>
  <p>Color: <input type="text" name="color" value="<%= @lamp.color %>"></p> 
  <p>Bulbs: <input type="text" name="bulbs" value="<%= @lamp.bulbs %>"></p>
  <p>Manufacturer: <input type="text" name="manufacturer" value="<%= @lamp.manufacturer %>"></p>
  <input type="submit" name="Edit Lamp">
<% end %>